
/* the old way of doing horizontal layout */
/* li {
    display: inline;
} */

/* the modern way of doing horizontal layouts  */

/*by default, display: flex has flex direction row*/
ul {
    display: flex;
    flex-direction: row; 
    list-style: none;
    gap: 1.5rem;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0.375rem 1.25rem;
    width: 100%
}

main {
    align-self: center;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

footer {
    display: flex;
    padding: 0.375rem 1.25rem;
    justify-content: space-between;
    width: 100%;
} 


button {
    padding: 0.5rem 1rem;
    background-color: #f8f9fa;
    border: 0.0625rem solid #f8f9fa;
    color: #3c4043;
    cursor: pointer;
    border-radius: 0.25rem;
}

#climate-message {
    display: flex;
    gap: 1rem; 
}